<?xml version="1.0" ?>

 <launch>
  <arg name="server" default="128.178.145.104"/>

  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg server)
      port: 3883
      frame_id: mocap_world
      broadcast_tf: true
      # Must either specify refresh frequency > 0.0, or a list of trackers to create
      refresh_tracker_frequency: 1.0
      #trackers:
      #- FirstTracker
      #- SecondTracker
    </rosparam>
  </node>

  # putting the right lwr in the mocap_world fame
  # the first frame comes from the mocap markers around the robot's base
  # the second frame comes from the launch argument:
  # roslaunch lwr_simple_example real.launch robot_name:=right_lwr robot_world:=right_lwr_base
  <node pkg="tf" type="static_transform_publisher" name="right_lwr_base" args="0 0 0 0 0 0 /right_lwr_markers /right_lwr_base 100"/>

  <node pkg="tf" type="static_transform_publisher" name="left_lwr_base" args="0 0 0 0 0 0 /left_lwr_markers /left_lwr_base 100"/>



  # publish the hardcoded grasp points for the kuka endeffector equipped with the qbhand
  # extracted by running rosrun tf tf_echo guard right_lwr_7_link
  <node pkg="tf" type="static_transform_publisher" name="guard_grasp_right" args="0.584, 0.200, 0.182 
    0.685, -0.697, -0.144, 0.15 /guard /right_grasp 100"/>

  # extracted by running rosrun tf tf_echo guard left_lwr_7_link
  <node pkg="tf" type="static_transform_publisher" name="guard_grasp_left" args="0.580, -0.313, 0.204
    0.694, -0.688, -0.172, 0.122 /guard /left_grasp 100"/>

  "$(find lwr_simple_example)/launch/rviz/rviz_config.rviz"


  <arg name="rviz_config" default="$(find joint_carry)/config/rviz_config.rviz"/>
    <node pkg="rviz" type="rviz" name="joint_carry_rviz"  respawn="false" args="-d $(arg rviz_config)" output="screen"/>





</launch>