<?xml version="1.0" ?>

 <launch>
  <arg name="server" default="128.178.145.104"/>

  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg server)
      port: 3883
      frame_id: mocap_world
      broadcast_tf: true
      # Must either specify refresh frequency > 0.0, or a list of trackers to create
      refresh_tracker_frequency: 1.0
      #trackers:
      #- FirstTracker
      #- SecondTracker
    </rosparam>
  </node>

  # putting the right lwr in the mocap_world fame
  # the first frame comes from the mocap markers around the robot's base
  # the second frame comes from the launch argument:
  # roslaunch lwr_simple_example real.launch robot_name:=right_lwr robot_world:=right_lwr_base
  <node pkg="tf" type="static_transform_publisher" name="right_lwr_base" args="0 0 0 0 0 0 /right_lwr_markers /right_lwr_base 100"/>

  <node pkg="tf" type="static_transform_publisher" name="guard_grasp_right" args="0.624, 0.157, 0.130 0.725, -0.596, -0.219, 0.268 /guard /right_grasp 100"/>



  # publish the hardcoded grasp points for the kuka endeffector equipped with the qbhand
  <node pkg="tf" type="static_transform_publisher" name="guard_grasp_left" args="0.593, -0.156, 0.157 0.881, 0.388, -0.248, -0.110 /guard /left_grasp 100"/>



</launch>